* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #555555;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: smooth;
  body {
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 400;
    overscroll-behavior: smooth;
    overflow: hidden;
  }
}

// chữ nhấp nháy :))) 
.chu-nhap-nhay {
  background: #3d3d3d;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
	-webkit-animation: nhapnhay 700ms infinite;
	-moz-animation: nhapnhay 700ms infinite; 
	-o-animation: nhapnhay 700ms infinite; 
  animation: nhapnhay 700ms infinite;
  // thêm hoạt ảnh
      @-webkit-keyframes nhapnhay {
        0% { color: #f6ff54;  } 
        25% { color: #4ce6e6; }
	      50% { color: #ffbdbd;  }
        75% { color: #41ff3b; }
	      100% { color: #8000ff;  } 
      }
      @-moz-keyframes nhapnhay { 
	      0% { color: #f6ff54;  } 
        25% { color: #4ce6e6; }
	      50% { color: #ffbdbd;  }
        75% { color: #41ff3b; }
	      100% { color: #8000ff;  } 
      }
      @-o-keyframes nhapnhay { 
	      0% { color: #f6ff54;  } 
        25% { color: #4ce6e6; }
	      50% { color: #ffbdbd;  }
        75% { color: #41ff3b; }
	      100% { color: #8000ff;  } 
      }
      @keyframes nhapnhay { 
        0% { color: #f6ff54;  } 
        25% { color: #4ce6e6; }
	      50% { color: #ffbdbd;  }
        75% { color: #41ff3b; }
	      100% { color: #8000ff;  } 
      }
}